body {
  background-color: white;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
